@using Infragistics.Web.Mvc
@model IQueryable<OCTA_Projet_Gestion_Commerciale.Web.ViewModels.GEN_TiersContacts_ViewModel>

@{
                /**/

                Layout = "";
}


@*@(Html.Infragistics()
        .Grid<OCTA_Projet_Gestion_Commerciale.Web.ViewModels.GEN_TiersContacts_ViewModel>

    .ID("listGridContacts")
    .AutoGenerateColumns(false)
    .AutoGenerateLayouts(false)
    .RenderCheckboxes(true)
    .AutoCommit(true)
    .Columns(column =>
    {
    column.For(x => x.Id).Hidden(true);
    column.For(x => x.Civilite).Width("10%");
    column.For(x => x.Nom).Width("25%");
    column.For(x => x.Prenom).Width("25%");
    column.For(x => x.Tel).Width("20%");
    column.For(x => x.Email).Width("20%");
    column.For(x => x.ParDefault).Hidden(true);
    column.For(x => x.Gsm).Hidden(true);
    column.For(x => x.Actif).Hidden(true);
    column.For(x => x.IdTiers).Hidden(true);
    //column.For(x => x.Id).Template((bool)ViewBag.isDelete ? "" : "<a onclick=\"openEdit('listGridContacts',${Id},'Contact')\">Modifier</a>").HeaderText("Actions").Column.Key = "actionsColumn";

    })
    .Features(feature =>
    {


    if (!(bool)ViewBag.isDelete)
    {
    feature.Updating()
    .ExcelNavigationMode(true).ShowDoneCancelButtons(false)
    .RowEditDialogOptions(red =>
    {
    red.Containment}}

*@